* { box-sizing: border-box }

.App {
  text-align: center;
}
.App_Header {
  background-color: #056cbd;
  color: #fff;
  overflow: hidden;
}
.Containers {
  display: flex;
  flex-wrap: wrap;
}
.Container {
  display: flex;
  flex-direction: column;
  width: 27vw;
  height: 27vw;
  align-items: center;
  border: 3px solid #056cbd;
  margin: 3vw;
  padding: 3vw;
  border-radius: 13%;
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
}
.App_Main {
  display: flex;
}
.App_Content,
.App_Sidebar {
  flex: 1;
}
.App_Sidebar {
  background-color: #ECECEC;
}
